<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<a href="<%= 'javascript:void(0)' %>" onclick="viewDate(<%= event.id %>)" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>" class="event-item">
				<li>
					<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
					<%= event.title %> <%= event.final_normal %>
				</li>
			</a>
		<% }) %>
	</ul>
</div>
